---
import "@radix-ui/themes/styles.css";
import "./src/styles/global.css";
import IndexContent from "./index-content.tsx";
import favicon16 from "../assets/favicon-16x16.png";
import favicon32 from "../assets/favicon-32x32.png";
import ogImage from "../assets/og-image.png";
import appleTouchIcon from "../assets/apple-touch-icon.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={favicon16.src} />
    <link rel="icon" type="image/png" href={favicon32.src} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>The standup board for teams and solo experts • Standup Kiwi</title>
    <meta
      name="description"
      content="Standup Kiwi is a standup board for teams and solo experts. It is designed to keep your updates calm, clear, and effortless."
    />
    <meta property="og:title" content="Standup Kiwi" />
    <meta
      property="og:description"
      content="Standup Kiwi is a standup board for teams and solo experts. It is designed to keep your updates calm, clear, and effortless."
    />
    <meta property="og:image" content={ogImage.src} />
  </head>

  <body>
    <IndexContent client:load />
  </body>
</html>
